[package]
name = "crossterm"
version = "0.3.0"
authors = ["T Post <timonpost@hotmail.nl>"]
description = "An crossplatform terminal library for manipulating terminals."
repository = "https://github.com/TimonPost/crossterm"
documentation = "https://docs.rs/crossterm/"
license = "MIT"
keywords = ["console", "color", "cursor", "terminal", "cli"]
exclude = ["target", "Cargo.lock"]
readme = "README.md"

[dependencies]
lazy_static = "1.1.0"
[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["winbase","winuser","consoleapi","processenv","wincon", "handleapi"] }

[target.'cfg(unix)'.dependencies]
libc = "0.2"
termios = "0.3.0"

[lib]
name = "crossterm"
path = "src/lib.rs"

#[[bin]]
# name = "example_bin"
# path = "./examples/Crossterm 0.3.1/bin.rs"

[[example]]
name = "examples"
path = "examples/examples.rs"

[[example]]
name = "logging"
path = "examples/program_examples/logging.rs"

[[example]]
name = "duplex"
path = "examples/program_examples/duplex.rs"
